.trigButton {
  -fx-background-color:  rgb(214, 212, 216);
  -fx-background-radius: 100;   
}
  
.trigButton:hover {
    -fx-background-color: rgb(225, 223, 226);
}

.trigButton:pressed {
  -fx-background-color:  rgb(214, 212, 216);
  -fx-border-radius: 100px ;
  -fx-border-color: white;
}

.trigButton:focused{
    -fx-border-radius: 100px ;
    -fx-border-color: white;
    -fx-border-width: 3px;

}


.rad_hyp_Button {
  -fx-background-color:   yellowgreen;
  -fx-background-radius: 100;   
}
  
.rad_hyp_Button:hover {
    -fx-background-color: #d5ff4f;
}

.rad_hyp_Button:pressed {
  -fx-background-color:   yellowgreen;
  -fx-border-radius: 100px ;
  -fx-border-color: white;
}

.rad_hyp_Button:focused{
    -fx-border-radius: 100px ;
    -fx-border-width: 3px ;
    -fx-border-color: white;

}

.defaultbutton{
    -fx-background-color: rgb(84, 84, 84);
    -fx-background-radius: 100;   
    -fx-border-radius: 100px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to left, #0092f0 0%, #004458  100%);
;
}

.defaultbutton:hover{
    -fx-background-color: #969899;
}

.defaultbutton:pressed{
    -fx-background-color: rgb(84, 84, 84);
    -fx-border-radius: 100px ;
    -fx-border-color: white;
}

.defaultbutton:focused{
    -fx-border-radius: 100px ;
    -fx-border-color: white;
}

.equalbutton{
    -fx-background-color:  linear-gradient(to left, #0092f0 0%, #004458  100%);
    -fx-background-radius: 100;
}

.equalbutton:hover{
    -fx-background-color: linear-gradient(to left, #4eb5f9 0%, #00526b 100%);     
}

.equalbutton:pressed{
    -fx-background-color: linear-gradient(to left, #0092f0 0%, #004458  100%);
    -fx-border-radius: 100px ;
    -fx-border-color: white;
}

.equalbutton:focused{
    -fx-border-width: 2px;
    -fx-border-radius: 100px ;
    -fx-border-color: white;

}

.clearbutton{
    -fx-background-color:  #0092f0;
    -fx-background-radius: 100;
}

.clearbutton:hover{
    -fx-background-color: #3bb8ff;   
}

.clearbutton:pressed{
    -fx-background-color: #0092f0;
    -fx-border-radius: 100px ;
    -fx-border-color: white;
}

.clearbutton:focused{
    -fx-border-width: 2px;
    -fx-border-radius: 100px ;
    -fx-border-color: white;
}


.context-menu{
    -fx-background-color: #000000;
    -fx-background-insets: 3px 0px 0px 0px;
}

.menu-bar{
    -fx-background-color: #000000;  
    -fx-padding: 0px;
}

.menu-bar > .container > .menu-button{
       -fx-background-color: #000000;  
       -fx-padding: 10 25 10 25;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused
{
    -fx-background-insets: 0;
    -fx-border-color: #0092f0;
    -fx-border-radius: 0px 0px 0px 3px;
    -fx-border-width: 0px 0px 3px 0px;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button > .label
{
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: #fff;
}

.menu-item {
    -fx-padding: 10px 25px 0 25px;
}

.menu-item .label {
    -fx-text-fill: #fff;
}

.menu-item:focused, .menu-item:hovered {
    -fx-background-color: #0092f0; 

}

#portMenu > .label
{
        -fx-graphic: url("..//Style/micro-usb.png");
}

#helpMenu > .label
{
        -fx-graphic: url("..//Style/DarkHelp.png");
}

#modeMenu > .label
{
        -fx-graphic: url("..//Style/DarkMenu.png");
}

#editMenu > .label
{
        -fx-graphic: url("..//Style/editDark.png");
}


.convButton {
    -fx-background-color: #0092f0;
}

.txtField {
    -fx-background-insets: 0;
    -fx-background-color:  rgb(255,255,255,0);
    -fx-border-color: linear-gradient(to left, #0092f0 0%, #004458  100%);
    -fx-border-width: 0px 0px 3px 0px;
    -fx-text-fill : white;
}

